@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  --overlay: #171717;
  --muted-primary: #737373;
  --muted-secondary: #d1d1c7;
  --primary: #5f3cff;
  --secondary: #1d0029;
  --form-background: #f7f9fa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans);
  --font-barlow: var(--font-barlow-condensed);
  --color-overlay: var(--overlay);
  --color-muted-primary: var(--muted-primary);
  --color-muted-secondary: var(--muted-secondary);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-form-background: var(--form-background);
  --breakpoint-3xl: 120rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans, --font-barlow);
}

.wrapper {
  @apply w-[90%] xl:w-[78%] 2xl:w-[65%] 3xl:w-[55%] mx-auto;
}
.section-padding {
  @apply mt-20 md:mt-24 xl:mt-32;
}

.background-image {
  background-image: linear-gradient(
    to right,
    #171717 0%,
    #171717 30%,
    #ffffff 30%,
    #ffffff 100%
  );
}
